$main-width: 30vw;

body {
    background-color: rgb(240,240,241);
    color: rgb(26,26,27);
    font-family: sans-serif;
}

.main {
    width: $main-width;
    margin: 20px auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(224,224,227);
    border-radius: 3px;
    color: rgb(26,26,27);
    text-align: center;

    .logo {
        font-size: #{$main-width/6};
        font-weight: bold;
        font-family: Arial;
        margin-bottom: 30px;
    }

    .panel {
        margin: 10px;

        input {
            margin: 2px 3px;
            padding: 1px 2px;
            width: calc((#{$main-width} - 28px - 20px - 30px) / 2);
        } 
        input[type="submit"] {
            padding: 5px 0;
            width: calc(#{$main-width} - 6px - 20px - 30px);
            background-color: rgb(30,30,32);
            color: rgb(224,224,227);
            border: 0;
        }
    }
}

.bar {
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(40,40,42);

    h1 {
        float: left;
        color: rgb(221,221,223);
        font-size: 18px;
    }

    button {
        float: right;
        padding: 4px 8px;
        margin: 0 8px;
        background: rgb(90,90,92);
        border: 0;
        border-radius: 1px;
        color: rgb(5,5,7);
        cursor: pointer;
    }
    button:hover {
        background-color: rgb(240,240,241);
        color: rgb(40,40,42);
    }
}

table {
    width: 98%;
    margin: 1%;

    tr:not(:last-child) {
        border-bottom: 1px solid rgb(200,200,202);
    }

    td {
        padding: 10px 5px;

        button {
            width: 100%;
            background-color: rgb(30,30,32);
            color: rgb(204,204,207);
            padding: 4px 0;
            border: 0;
            border-radius: 1px;
            cursor: pointer;
            opacity: 0.9;
        }
        button:hover {
            opacity: 1;
        }

        input {
            width: 100%;
        }
    }
}

@media all and (max-width: 1024px) {
    $main-width: 60vw;

    .main {
        width: $main-width;

        .logo {
            font: bold #{$main-width/6} Arial;
        }

        .panel {
            input {
                width: calc((#{$main-width} - 28px - 20px - 30px) / 2);
            }

            input[type="submit"] {
                width: calc(#{$main-width} - 6px - 20px - 30px);
            }
        }
    }
}

@media all and (max-width: 720px) {
    $main-width: 95vw;

    .main {
        width: $main-width;

        .logo {
            font: bold #{$main-width/6} Arial;
        }

        .panel {
            input {
                width: calc((#{$main-width} - 28px - 20px - 30px) / 2);
            }

            input[type="submit"] {
                width: calc(#{$main-width} - 6px - 20px - 30px);
            }
        }
    }
}

.halved {
    margin: 1%;
    width: 48%;
    box-sizing: border-box;
    float: left;
}

@media all and (max-width: 800px) {
    .halved {
        width: 98%;
        float: none;
    }
}

.member {
    margin-bottom: 5px;

    .delete {
        margin-left: 30px;
        font: bold 15px Tahoma;
        color: rgb(160,40,40);
        cursor: pointer;
    }
}

.member-input {
    box-sizing: border-box;
    width: 50%;
    height: 23px;
}

.member-button {
    box-sizing: border-box;
    width: 48%;
    margin-left: 2%;
}